.w-fit {
    width: fit-content;
}

.btn-border {
    border: 2px solid white !important;
    border-radius: 50px !important;
}

.our-service .service-box {
    border-radius: 30px;
    box-shadow: 0px 0px 30px 10px #00000012;
    height: 95%;
}

.flex-point ul::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
}

.flex-point ul li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -24px;
    background: #19C8D0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.cta-box {
    background: url('../img/cta-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    border-radius: 50px;

}

.why-choose .box-border,
.why-angular .box-border {
    border: 1px solid gray;
    border-radius: 15px;
    height: 95%;
}

@media (min-width: 1024px) {
    .our-service .service-box h3 {
        font-size: 35px;
        width: calc(100% - 150px);
    }
}

@media (min-width:1200px) {
    .h2-s {
        font-size: 50px;

    }

    .top-content span {
        width: 80%;
    }
}