@font-face {
    font-family: 'syne-bold';
    src: url('/vimana/assets/fonts/Syne-Bold.woff2') format('woff2'),
        url('/vimana/assets/fonts/Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'syne-semiBold';
    src: url('/vimana/assets/fonts/Syne-SemiBold.woff2') format('woff2'),
        url('/vimana/assets/fonts/Syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'syne';
    src: url('/vimana/assets/fonts/Syne-Regular.woff2') format('woff2'),
        url('/vimana/assets/fonts/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'syne-medium';
    src: url('/vimana/assets/fonts/Syne-Medium.woff2') format('woff2'),
        url('/vimana/assets/fonts/Syne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-extraLight';
    src: url('/vimana/assets/fonts/WorkSans-ExtraLight.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-light';
    src: url('/vimana/assets/fonts/WorkSans-Light.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-mediumItalic';
    src: url('/vimana/assets/fonts/WorkSans-MediumItalic.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sans-semiBold';
    src: url('/vimana/assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-italic';
    src: url('/vimana/assets/fonts/WorkSans-Italic.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sans-lightItalic';
    src: url('/vimana/assets/fonts/WorkSans-LightItalic.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sans-regular';
    src: url('/vimana/assets/fonts/WorkSans-Regular.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-extraLightItalic';
    src: url('/vimana/assets/fonts/WorkSans-ExtraLightItalic.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sans-medium';
    src: url('/vimana/assets/fonts/WorkSans-Medium.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-bold';
    src: url('/vimana/assets/fonts/WorkSans-Bold.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-blackItalic';
    src: url('/vimana/assets/fonts/WorkSans-BlackItalic.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sans-black';
    src: url('/vimana/assets/fonts/WorkSans-Black.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sans-semiBoldItalic';
    src: url('/vimana/assets/fonts/WorkSans-SemiBoldItalic.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sans-thin';
    src: url('/vimana/assets/fonts/WorkSans-Thin.woff2') format('woff2'),
        url('/vimana/assets/fonts/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}