<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" />
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 d-lg-flex flex-lg-column justify-content-lg-between">
                    <h1 class="mb-5">Lets Get in Touch</h1>
                    <div class="row mb-md-5 mb-lg-0">
                        <div class="col-12 col-md-4 col-lg-3">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Solutions</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <ul>
                                <li><a href="#">Customer Support</a></li>
                                <li><a href="#">Terms & Services</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Cancellation and Refund Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4 col-lg-5">
                            <ul>
                                <li><i class="fa-solid fa-envelope"></i><a
                                        href="mailto:info@vimana.co">info@vimana.co</a></li>
                                <li><i class="fa-solid fa-phone-volume"></i><a href="tel:+123-568-907">+123-568-907</a>
                                </li>
                                <li><i class="fa-solid fa-location-dot"></i><a href="#">128, Fake Street, New York <br>
                                        NY1235, USA</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <form action="">
                        <input type="text" placeholder="Enter Name">
                        <input type="email" placeholder="Email">
                        <input type="number" placeholder="Phone Number">
                        <textarea placeholder="Message"></textarea>
                        <button type="button" class="button button-primary mx-auto mt-4"><span><img
                                    src="/vimana/assets/img/button-arrow.png" alt="arrow"></span> Send</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-note mt-3 mt-lg-5">
            <div class="container-fluid">
                <p class="text-center mb-0">2025 © Vimana Digital. Registered in England. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>