<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <section class="blog" data-aos="fade-up-right" data-aos-duration="800">
        <div class="container-fluid">
            <div class="heading">
                <div class="d-md-flex gap-5">
                    <h2>Our Blog</h2>
                    <p class="mb-0">Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la
                        mayoría sufrió
                        alteraciones
                        en alguna manera,
                        ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                        Si vas a
                        utilizar un pasaje
                        de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en
                        eavergonzante
                        escondido en el medio
                        del texto.
                    </p>
                </div>
            </div>
            <div class="blog-container">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="../../assets/img/blog-1.png" alt="blog">
                    </div>
                    <div class="blog-header d-flex align-items-center justify-content-between">
                        <button class="button button-white">Read More</button>
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="../../assets/img/calendar.png" alt="calendar">
                            <p class="mb-0">Oct-21-2024</p>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h3>Best Website Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra vitae eros vel
                            porta. Nulla molestie, lectus
                            quis porta semper, augue leo varius ex....</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="../../assets/img/blog-2.png" alt="blog">
                    </div>
                    <div class="blog-header d-flex align-items-center justify-content-between">
                        <button class="button button-white">Read More</button>
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="../../assets/img/calendar.png" alt="calendar">
                            <p class="mb-0">Oct-21-2024</p>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h3>Best Website Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra vitae eros vel
                            porta. Nulla molestie, lectus
                            quis porta semper, augue leo varius ex....</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="../../assets/img/blog-3.png" alt="blog">
                    </div>
                    <div class="blog-header d-flex align-items-center justify-content-between">
                        <button class="button button-white">Read More</button>
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="../../assets/img/calendar.png" alt="calendar">
                            <p class="mb-0">Oct-21-2024</p>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h3>Best Website Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra vitae eros vel
                            porta. Nulla molestie, lectus
                            quis porta semper, augue leo varius ex....</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>

</html>