<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <base href="https://shivam8632.github.io/vimana/">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <section class="people">
        <div class="container-fluid">
            <div class="people-container">
                <div class="heading heading-center">
                    <h2>WHAT PEOPLE SAYS</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the</p>
                </div>
                <div class="owl-carousel people-carousel">
                    <div class="people-item">
                        <img src="/vimana/assets/img/quote.png" alt="quote">
                        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió
                            alteraciones en alguna manera,
                            ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                            Si vas a utilizar un pasaje
                            de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
                            del texto. Hay muchas
                            variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones
                        </p>
                        <h3>Robert Willamson</h3>
                        <h5>San Fracisco,CA</h5>
                    </div>
                    <div class="people-item">
                        <img src="/vimana/assets/img/quote.png" alt="quote">
                        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió
                            alteraciones en alguna manera,
                            ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                            Si vas a utilizar un pasaje
                            de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
                            del texto. Hay muchas
                            variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones
                        </p>
                        <h3>Robert Willamson</h3>
                        <h5>San Fracisco,CA</h5>
                    </div>
                    <div class="people-item">
                        <img src="/vimana/assets/img/quote.png" alt="quote">
                        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió
                            alteraciones en alguna manera,
                            ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                            Si vas a utilizar un pasaje
                            de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
                            del texto. Hay muchas
                            variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones
                        </p>
                        <h3>Robert Willamson</h3>
                        <h5>San Fracisco,CA</h5>
                    </div>
                    <div class="people-item">
                        <img src="/vimana/assets/img/quote.png" alt="quote">
                        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió
                            alteraciones en alguna manera,
                            ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                            Si vas a utilizar un pasaje
                            de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
                            del texto. Hay muchas
                            variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones
                        </p>
                        <h3>Robert Willamson</h3>
                        <h5>San Fracisco,CA</h5>
                    </div>
                    <div class="people-item">
                        <img src="/vimana/assets/img/quote.png" alt="quote">
                        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió
                            alteraciones en alguna manera,
                            ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                            Si vas a utilizar un pasaje
                            de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
                            del texto. Hay muchas
                            variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones
                        </p>
                        <h3>Robert Willamson</h3>
                        <h5>San Fracisco,CA</h5>
                    </div>
                    <div class="people-item">
                        <img src="/vimana/assets/img/quote.png" alt="quote">
                        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió
                            alteraciones en alguna manera,
                            ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
                            Si vas a utilizar un pasaje
                            de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio
                            del texto. Hay muchas
                            variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones
                        </p>
                        <h3>Robert Willamson</h3>
                        <h5>San Fracisco,CA</h5>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>

<script>
    $(document).ready(function () {
        $('.people-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true, // Enables navigation
            autoplay: true,
            autoplayTimeout: 5000,
            smartSpeed: 1000,
            lazyLoad: true,
            center: true, // Ensures center mode
            items: 1, // Fixed typo (was 'item: 1')
            responsive: {
                0: { items: 1 },
                600: { items: 1 },
                1000: { items: 1 }
            }
        });
    });

</script>

</html>